.categories_section {
    width: 25%;
    height: 70vh;
    border: 1px solid var(--line-gray);
    border-radius: 10px;
    margin-top: 15px;
    overflow-x: scroll;
    

}

.categories_section::-webkit-scrollbar {
    width: 4px; 
    height: 10px;
 }


.categories_section::-webkit-scrollbar-thumb {
    background: #4e4e4e;
  }


.category {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category_link {
     display: block;
     text-decoration: none;
     color: var(--color-dark);
}