* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --bg-dark: #171717;
    --bg-light: #fff;
    --color-white: #fff;
    --color-dark: #171717;
    --line-gray: #d8d8d8;
    --color-logo: deeppink;
}

.page {
    max-width: 1320px;
    margin: 0 auto;
    padding: 12px;
}

.content {
    width: 100%;
    display: flex;
    justify-content: space-between
}


